

.card-self
{
    width: 20vw;
    height: 80vh;
    border: solid 5px rgba(77, 39, 183, 0.811);
    border-radius: 20px;
    margin-top: 10vh;
    margin-left: 10px;
}

.my-image
{
    margin-top: 5px;
    border-radius: 50%;
    height: 175px;
    width: auto;
}

.name
{
    color:white;
    background-color: rgba(77, 39, 183, 0.811);
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.description
{
    font-family: 'arial';
    margin: 5px;
    text-align: justify;
}

.content
{
    margin-left: 50px;
    width: 75vw;
    height: 80vh;
    border: solid 5px rgba(77, 39, 183, 0.811);
    border-radius: 20px;
    margin-top: 10vh;
    margin-left: 10px;
}

.navbar
{
    background-color: rgba(77, 39, 183, 0.811);
}

.navbar-button
{
    background-color: rgba(77, 39, 183, 0.597);
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border: black;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
    font-weight: bold;
    width: 10vw;
}

.navbar-button:hover
{
    background-color: rgb(77, 39, 183);
    width:15vw;
}

.navbar-content
{
    margin: 0;
    border: 3px, solid, rgb(77, 39, 183);
}

.overview-video
{
    width: 100%;
    overflow:auto;
}

.overview-text
{
    font-style: italic;
    text-align: center;
}

.skill-table
{
    font-family:monospace;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    height: 100%;
}

.skill-bubble01
{
    height: 200px;
    width: 200px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: rgb(77, 39, 183);
}

.skill-bubble02
{
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-top: 70px;
    border-radius: 50%;
    background-color: rgba(77, 39, 183, 0.834);
}

.biodata-content
{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}


.biodata-point
{
    width: 25%;
}

.portofolio-content
{

    font-family: Arial;
    font-size: 70px;
    font-weight: bold;
    color: rgba(77, 39, 183, 0.474);
    margin-top: 30vh;
}

.icons
{
    background-color: aqua;
    width:80px;
    height: 80px;
    align-items: center;
}

