body
{
    background-color: black;
}

button
{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px white;
    border-radius: 25px 0px;
    margin-top: 5px;
    width: 80%;
    margin-left: 10%;
    transition: 0.2s;
}

button p
{
    font-weight: bold;
}

button:hover
{
    background-color: hsl(0, 0%, 75%);
}

p 
{
    color: white;
    margin-left: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation-name: test;
}

.separator
{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    border: 1px solid white ;
}

.navbar
{
    width: 20vw;
    height: auto;
    align-content: start;
    margin-left: 0;
}



.content
{
    width: 100%;
    height: 100%;
    margin-left: 0;
}

.overview-video
{
    width: 100%;
    overflow:auto;
}

.overview-text
{
    margin-top: 5px;
    text-align: center;
    font-style: italic;
}

.content-about 
{
    position: absolute;
    animation-name: fadeInLeft;
    animation-duration: 1s;
}

.about-image
{
    border-radius: 50%;
    max-width: 40%;
    height: auto;
    animation-duration: 1s;
}

.skill
{
    font-size: 2em;
    font-weight: bold;
}

table
{
    width: 100%;
    color: hsl(0, 0%, 86%);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;

}

.background-parent
{
    box-shadow: 0 0 1px;
    position: absolute;
    display: block;
    bottom: 30%;
    right: 20%;
}

.background01
{
    height: 200px;
    width: 50px;
    background-color: white;
    position: absolute;
    display: block;
    z-index: -1;
    filter: blur(10px);
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.background02
{
    height: 200px;
    width: 50px;
    background-color: white;
    position: absolute;
    display: block;
    z-index: -1;
    filter: blur(10px);
    rotate: 120deg;
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.background03
{
    height: 200px;
    width: 50px;
    background-color: white;
    position: absolute;
    display: block;
    z-index: -1;
    filter: blur(10px);
    rotate: 240deg;
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.icons
{
    color: hsl(0, 0%, 75%);
    transition: 0.1s;
}

.icons:hover
{
    color: hsl(0, 0%, 100%);
}

.portofolio001
{
    position:fixed;
    animation-name: fadeInLeft;
    animation-duration: 1s;

    .title{
        font-size: 2em;
        font-weight: bold;
    }
    
    .subtitle
    {
        font-size: 1.5em;
        font-weight: bold;
    }

    a
    {
        text-decoration: none;
        color: white;
    }

    img
    {
        max-width: 60vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.portofolio002
{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
    animation-name: fadeInLeft;
    animation-duration: 1s;

    .title{
        font-size: 2em;
        font-weight: bold;
    }
    
    .subtitle
    {
        font-size: 1.5em;
        font-weight: bold;
    }

    a
    {
        text-decoration: none;
        color: white;
    }

    img
    {
        max-width: 60vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes fadeInLeft
{
    from{transform: translateX(50px)}
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate
{
    100% {transform: rotateZ(-360deg);}
}
